[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/DirectXTK"]
	path = External/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
