[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/DirectXTK"]
	path = External/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/ImGui"]
	path = External/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "External/APNGLoader"]
	path = External/APNGLoader
	url = https://github.com/uctakeoff/uc_apng_loader.git
